.menus {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
}

.N1 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
}

.Posicionado {
    font-weight: 1000;
    background-color: #722348;
    color: #ffffff;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.N2 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
}

.N3 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
}

.Art1 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.Art2 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.Art3 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.Art4 {font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.Art5 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.Art6 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.Art7 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.Art8 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;
    background:#6610f2
}

.footer {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial Rounded MT Bold, serif, sans-serif;

}